<h1>Photopony</h1>

<% @images.each do |image| %>
<div class="post">
        <div class="image"><%= image_tag(image.image.url(:medium)) %></div>
        <div class="name"><%= image.name %></div>
        <div class="feels">
        	<%=link_to( image_tag("love.png"), vote_path(feels:'love',image_id:image.id)) %>
        	<%=link_to( image_tag("wut.png"), vote_path(feels:'wut',image_id:image.id)) %>
        	<%=link_to( image_tag("haha.png"), vote_path(feels:'haha',image_id:image.id)) %>
        	<%=link_to( image_tag("aww.png"), vote_path(feels:'aww',image_id:image.id)) %>
        	<%=link_to( image_tag("poo.png"), vote_path(feels:'poo',image_id:image.id)) %>

        	
        	
        
        </div>
</div>
<% end %>
